<%= turbo_stream.update "documents_list" do %>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    <% @documents.each do |document| %>
      <%= render document %>
    <% end %>
  </div>
<% end %>