<div class="min-h-screen bg-slate-50 text-slate-800 font-sans" data-controller="search">
  <%= render "layouts/navbar" %>
  <main class="max-w-7xl mx-auto p-6">
    <%= render "documents/upload_form" %>
    <%= turbo_frame_tag "documents_list" do %>
      <%= render "documents/list", documents: @documents %>
    <% end %>
  </main>
</div>